@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap'); 

/* ====== GLOBAL ====== */
:root{

    /* Font and typography */
  --body-font: 'Rubik', sans-serif;

    /* Font size - Mobile */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font)
}
input {
  border-style: none;
}

/* ====== REUSABLE CLASSES ====== */
.section {
  padding-top: 2rem;
}
.screen {
  height: 100vh;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
/* ====== LOAD SCREEN ====== */

.load {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.load__data {
  text-align: center;
  margin-bottom: 2rem;
}
.load__img {
  width: 175px;
}
.load__message {
  font-size: var(--h3-font-size);
}

/* ====== MAIN SCREEN ====== */

/* ====== MAIN - HEADER ====== */

.main__header {
  text-align: center;
}
.main__title {
  font-weight: 500;
  font-size: var(--big-font-size);
  margin-bottom: .5rem;
}
.main__title span {
  font-weight: 400;
  font-size: var(--h3-font-size);
}
.main__subtitle {
  font-size: 1rem;
  font-weight: 400;

  margin-bottom: 1.5rem; 
}
.main__subtitle span {
  font-weight: 400;
  color: #303378;
}

/* ====== MAIN - FILTERS ====== */

.main__input {
  padding: .625rem;
  border: 1px solid #000000;
  border-radius: .625rem;
  width: 240px;
}
.main__input:focus {
  outline: none;
}
.main__input::placeholder {
  font-family: var(--body-font);
  font-weight: 300;
}

/* ====== MAIN - POKEMONS ====== */

.pokemons {
 display: flex;
 flex-direction: column;
 justify-content: center;

 padding-top: 1rem;
 padding-bottom: 1rem;
}

.pokemons__wrapper {
  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(2,1fr);
}

/* ====== MAIN - POKEMONS CARD ====== */

.pokemon__card {
  cursor: pointer;
  border-radius: .625rem;
  padding: 1rem 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}
.pokemon__card:hover {
  opacity: .85;
}
.pokemon__data {
  text-align: center;
}
.pokemon__id {
  font-size: var(--smaller-font-size);
  font-weight: 400;  
}
.pokemon__name {
  font-size: var(--normal-font-size);
  text-transform: capitalize;
  font-weight: 500;
}
.pokemon__img {
  width: 80px;   
}

.pokemon__types {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .275rem;
}

.pokemon__type {
  font-size: .575rem;
  letter-spacing: .25px;
  text-align: center;
  width: 11ch;
  border-radius: .5rem;
  padding: .25rem 0;
  text-transform: uppercase;
  margin-bottom: .25rem; 
}

/* ====== MAIN - POKEMONS BACKGROUND COLOR ====== */

.grass {
  background: rgba(85, 243, 82, .7);
}
.poison {
  background: rgba(158, 0, 255, 0.7);
}
.fire {
  background: rgba(253, 125, 36, .7);
}
.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}
.water {
  background: rgba(69, 146, 196, .7);
}
.bug {
  background: rgba(114, 159, 63, .7);
}
.normal {
  background: rgba(164, 172, 175, .7);
}
.rock {
  background: rgba(163, 140, 33, 0.7);
}
.electric {
  background: rgba(238, 213, 53, 0.7);
}
.ground {
  background: rgba(171, 152, 66, 0.7);
}
.fairy {
  background: rgba(253, 185, 233, 0.7);
}
.steel {
  background: rgba(158, 183, 184, 0.7);
}
.fighting {
  background: rgba(213, 103, 35, 0.7);
}
.psychic {
  background: rgba(243, 102, 185, 0.7);
}
.ghost {
  background: rgba(123, 98, 163, 0.7);
}
.dragon {
  background: rgba(241, 110, 87, 0.7); 
}
.dark {
  background: rgba(112, 112, 112, 0.7);
}
/* ====== MAIN - POKEMONS BADGE COLOR ====== */

.badge-grass {
  background: rgba(85, 243, 82, 1);
  color: #000000;
}

.badge-poison {
  background: rgba(158, 0, 255, 1);
  color: white;
}
.badge-fire {
  background: rgba(253, 125, 36, .7);
  color: white;
}
.badge-flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}
.badge-water {
  background: rgba(69, 146, 196, .7);
  color: white; 
}
.badge-bug {
  background: rgba(114, 159, 63, .7);
  color: white;
}
.badge-normal {
  background: rgba(164, 172, 175, .7);
}
.badge-rock {
  background: rgba(163, 140, 33, 0.7);
}
.badge-electric {
  background: rgba(238, 213, 53, 0.7);
}
.badge-ground {
  background: rgba(171, 152, 66, 0.7);
}
.badge-fairy {
  background: rgba(253, 185, 233, 0.7);
}
.badge-steel {
  background: rgba(158, 183, 184, 0.7);
}
.badge-fighting {
  background: rgba(213, 103, 35, 0.7);
  color: white;
}
.badge-psychic {
  background: rgba(243, 102, 185, 0.7);
  color: white;
}
.badge-ghost {
  background: rgba(123, 98, 163, 0.7);
  color: white;
}
.badge-dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
.badge-dark {
  background: rgba(112, 112, 112, 1);
  color: white;
}

/* ====== MAIN - POKEMONS INFORMATION ====== */

.pokemon-info {
  background: white; 
  width: 100%;
  position: fixed;
  top: 0
}
.pokemon-info__data {
  padding: 1.5rem 1.5rem;
  height: 40%;
}
.pokemon-info__id {
  font-size: 3rem;
  font-weight: 500;
  opacity: .7;
}
.pokemon-info__name {
  margin-left: 1.5rem; 
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.25px;
}

.pokemon-info__close {
  z-index: 11;
  top: 1.5rem;
  position: absolute;
  font-size: 1.5rem;
  right: 1.5rem;
  cursor: pointer; 
}

.pokemon-info__img {
  position: absolute;
  right: 1.5rem;
  top: 4.5rem;  
  width: 180px;
}

.pokemon-info__types {
  margin-top: 2rem; 
  margin-left: 1rem;
}
.pokemon-info__type {
  font-size: .875rem;
  letter-spacing: .25px;
  text-align: center;
  width: 11ch;
  border-radius: .5rem;
  padding: .25rem 0;
  text-transform: uppercase;
  margin-bottom: .45rem; 
}

/* ====== MAIN - POKEMONS INFORMATION - OPTIONS*/ 

.pokemon-info__options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.pokemon-info__item {
  padding: 1rem 1rem;
  font-size: .875rem; 
  font-weight: 500;
  opacity: .6;
  cursor: pointer;
}

.pokemon-info__item--active {
  opacity: 1;
  cursor: default;
}

.pokemon-info__option {
 margin: 1rem 1.75rem;  
}

.pokemon-info__about-text {
  font-size: 1rem;
  font-weight: 500;
  color: #838383;
  margin-bottom: .75rem;
  text-transform: capitalize;
}
.pokemon-info__about-text span {
  color: #000000;
  font-weight: 600;
  padding-left: 1rem;
  text-transform: capitalize;
}

.pokemon-info__bar {
  height: 1rem;
  margin-bottom: 1rem ; 
  width: 124px;  
  border-radius: 1rem;
  background: #D9D9D9;
  text-align: center;
}
.space {
  width: 8ch; 
} 
.flex {
  display: flex;
}
.no-space {
  padding-right: 1rem;
  padding-left: 0; 
}
.progress{ 
  border-radius: 1rem;
  
  height: 1rem;
  background: #24D620;
  font-size: .75rem;
}
.hidden {
  display: none;
}
.front {
  z-index: 100;
}
.back {
  z-index: 1;
}
/* MEDIA QUERIES */
@media screen and (max-width: 395px) { 
  .pokemon__card {
    padding: .825rem .625rem; 
  }
  .container {
    margin-left: .65rem;
    margin-right: .65rem;
  }
  .pokemon__type {
    font-size: .475rem; 
  }
}
@media screen and (min-width: 550px) {
  .pokemons__wrapper {
   grid-template-columns: repeat(3,1fr);
  }
}

@media screen and (min-width: 768px) {
  .pokemons__wrapper {
   grid-template-columns: repeat(4,1fr);
  }
}
